.verticalText {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    width: 3%;
    text-align: center;
    padding: 0;
    padding-bottom: 1.5%;
    align-content: center;
    font-size: 98%;
    }

#tdfila
{
    padding-right: 0%; 
    padding-left: 0%;
     text-align: center

}

#tdboton
{
    width: 100%; 
    text-align: center;
    border: none;
}


 
#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 20px;
    width: 60%;
   
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin-top:0%;
    margin-left: 5%;
  }